@{
    ViewData["Title"] = "Home Page";
}
<h1 class="auth-main-title">Welcome To Eventora</h1>
<div class="auth-container">
    <div class="auth-box">
        <h2 class="auth-title">Login into Continue</h2>
        <div class="auth-buttons">
            <a asp-action="Login" asp-controller="Auth" class="btn-auth btn-login">Login</a>
            <a asp-action="Register" asp-controller="Auth" class="btn-auth btn-signup">Register</a>
        </div>
    </div>
</div>